* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
    box-shadow: 0 0 10px 1px gray;
    background-color: white;
}

.company-logo {
    color: hsl(120, 50%, 40%);
    font-size: 3rem;
}

.nav-links {
    display: flex;
}

.nav-links li {
    display: flex;
    flex: 1;
}

.nav-links a {
    padding: 1rem;
}

.nav-links li:hover {
    cursor: pointer;
    background-color: hsl(0, 0%, 90%);
}